
TaskControlSql/.vs/TaskControlSql/v16/.suo
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.csprojAssemblyReference.cache
