
TaskControlSql/.vs/TaskControlSql/v16/.suo
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.csprojAssemblyReference.cache
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.exe
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.pdb
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.csproj.FileListAbsolute.txt
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.csproj.CoreCompileInputs.cache
TaskControlSql/TaskControlSql.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaskControlSql/TaskControlSql.Domain/obj/Debug/TaskControlSql.Domain.csproj.CoreCompileInputs.cache
TaskControlSql/TaskControlSql.Domain/obj/Debug/TaskControlSql.Domain.csproj.FileListAbsolute.txt
TaskControlSql/TaskControlSql.Domain/obj/Debug/TaskControlSql.Domain.csprojAssemblyReference.cache
TaskControlSql/TaskControlSql.Domain/obj/Debug/TaskControlSql.Domain.dll
TaskControlSql/TaskControlSql.Domain/obj/Debug/TaskControlSql.Domain.pdb
TaskControlSql/TaskControlSql.Database/obj/Debug/TaskControlSql.Database.sqlprojAssemblyReference.cache
TaskControlSql/TaskControlSql.Control/obj/Debug/TaskControlSql.Control.pdb
TaskControlSql/TaskControlSql.Control/obj/Debug/TaskControlSql.Control.dll
TaskControlSql/TaskControlSql.Control/obj/Debug/TaskControlSql.Control.csprojAssemblyReference.cache
TaskControlSql/TaskControlSql.Control/obj/Debug/TaskControlSql.Control.csproj.FileListAbsolute.txt
TaskControlSql/TaskControlSql.Control/obj/Debug/TaskControlSql.Control.csproj.CoreCompileInputs.cache
TaskControlSql/TaskControlSql.Control/obj/Debug/TaskControlSql.Control.csproj.CopyComplete
TaskControlSql/TaskControlSql.Control/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaskControlSql/TaskControlSql.Control/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.csproj.CopyComplete
TaskControlSql/TaskControlSql.UnitTest/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TaskControlSql/TaskControlSql.UnitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaskControlSql/TaskControlSql.UnitTest/obj/Debug/TaskControlSql.UnitTest.csprojAssemblyReference.cache
TaskControlSql/TaskControlSql.Domain/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TaskControlSql/.vs/TaskControlSql/v16/TestStore/0/000.testlog
TaskControlSql/.vs/TaskControlSql/v16/TestStore/0/testlog.manifest
TaskControlSql/TaskControlSql.UnitTest/obj/Debug/TaskControlSql.UnitTest.pdb
TaskControlSql/TaskControlSql.UnitTest/obj/Debug/TaskControlSql.UnitTest.dll
TaskControlSql/TaskControlSql.UnitTest/obj/Debug/TaskControlSql.UnitTest.dll
TaskControlSql/TaskControlSql.UnitTest/obj/Debug/TaskControlSql.UnitTest.dll
TaskControlSql/TaskControlSql.UnitTest/obj/Debug/TaskControlSql.UnitTest.pdb
TaskControlSql/TaskControlSql.UnitTest/obj/Debug/TaskControlSql.UnitTest.dll
TaskControlSql/TaskControlSql.Database/obj/Debug/TaskControlSql.Database.pdb
TaskControlSql/TaskControlSql.Database/obj/Debug/TaskControlSql.Database.dll
TaskControlSql/TaskControlSql.Database/obj/Debug/Model.xml
TaskControlSql/TaskControlSql.UnitTest/obj/Debug/TaskControlSql.UnitTest.pdb
TaskControlSql/TaskControlSql.UnitTest/obj/Debug/TaskControlSql.UnitTest.dll
TaskControlSql/TaskControlSql.View/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.csprojAssemblyReference.cache
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.exe
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.pdb
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.csproj.FileListAbsolute.txt
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.csproj.GenerateResource.cache
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.csproj.CoreCompileInputs.cache
TaskControlSql/TaskControlSql.View/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaskControlSql/TaskControlSql.View/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.Properties.Resources.resources
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.ScheduleControlScreen.resources
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.TodoTaskScreen.resources
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.MainScreen.resources
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.csproj.CopyComplete
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.ManageTodoTaskScreen.resources
TaskControlSql/TaskControlSql.View/obj/Debug/TaskControlSql.View.AddTodoTaskScreen.resources
