
TaskControlSql/.vs/TaskControlSql/v16/.suo
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.csprojAssemblyReference.cache
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.exe
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.pdb
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.csproj.FileListAbsolute.txt
TaskControlSql/TaskControlSql.ConsoleApp/obj/Debug/TaskControlSql.ConsoleApp.csproj.CoreCompileInputs.cache
