<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<appSettings>
		<add key="databaseType" value="sqlite"/>
		<add key = "sqlConnectionString" value ="Data Source=(LocalDb)\MSSqlLocalDB;Initial Catalog=DBTaskControl;Integrated Security=True;Pooling=False"/>
		<add key = "sqliteConnectionString" value ="Data Source=\Users\Pedroska\Documents\GitHub\Task-Control-SQL\TaskControlSql\TaskControlSql.Control\bin\Database\DBTaskControlSqLite.db"/>
	</appSettings>
</configuration>